
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1459240002'); /* IE9*/
  src: url('iconfont.eot?t=1459240002#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1459240002') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1459240002') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1459240002#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-chevron-up:before { content: "\e61e"; }
.icon-chevron-down:before { content: "\e61f"; }
.icon-youxiang:before { content: "\e625"; }
.icon-cooperation:before { content: "\e620"; }
.icon-jiatingyoubian:before { content: "\e626"; }
.icon-shiyongguanli:before { content: "\e604"; }
.icon-wode:before { content: "\e605"; }
.icon-guanbi:before { content: "\e61b"; }
.icon-duihao:before { content: "\e624"; }
.icon-tongzhi:before { content: "\e610"; }
.icon-dianhua:before { content: "\e627"; }
.icon-mobandingzhi:before { content: "\e621"; }
.icon-gouwuche:before { content: "\e618"; }
.icon-zhanghu:before { content: "\e614"; }
.icon-lianximaijia:before { content: "\e606"; }
.icon-kuozhanzujianzhuanhuan:before { content: "\e609"; }
.icon-guanli:before { content: "\e600"; }
.icon-wancheng:before { content: "\e629"; }
.icon-sousuo:before { content: "\e611"; }
.icon-mima:before { content: "\e615"; }
.icon-fenxiang:before { content: "\e60a"; }
.icon-dizhi:before { content: "\e628"; }
.icon-xiala:before { content: "\e612"; }
.icon-you:before { content: "\e616"; }
.icon-zuo:before { content: "\e617"; }
.icon-zhuye:before { content: "\e62a"; }
.icon-mp-nav-institution:before { content: "\e607"; }
.icon-xiazai:before { content: "\e60b"; }
.icon-sousuo1:before { content: "\e60c"; }
.icon-xiangyou:before { content: "\e61a"; }
.icon-icon:before { content: "\e619"; }
.icon-shuju:before { content: "\e608"; }
.icon-wode1:before { content: "\e61c"; }
.icon-shapecopy23:before { content: "\e60f"; }
.icon-gou:before { content: "\e623"; }
.icon-dingdanxiangqingyingpianzhizuodonecccccc:before { content: "\e61d"; }
.icon-anquan:before { content: "\e60d"; }
.icon-nengliqiang:before { content: "\e622"; }
.icon-guanli1:before { content: "\e613"; }
.icon-lianxiwomen:before { content: "\e601"; }
.icon-cgqiyejiegou:before { content: "\e60e"; }
.icon-zhizuo:before { content: "\e602"; }
.icon-batchdelivery:before { content: "\e603"; }
