<div class="custMian">
	<div class="cust_nav">
		<div class="sma">
			<div class="nav_left"></div>
			<div class="nav_right">
				<div class="r_log">
				</div>
				<div class="r_big">商详定制</div>
				<div class="r_xian"></div>
				<div class="r_detail">图片采集/详情页设计/参数信息</div>
				<div class="r_time">下单详询：400-000-9411</div>

			</div>
		</div>
	</div>
	<div class="cust_cen">
		<div class="sma_cen">
			<div class="custCen1">
				<div class="custCen1_title"></div>
				<div class="custCen1_jie">
					<ul>
						<li><span>.</span>信息化采集交付系统</li>
						<li><span>.</span>商品主数据交易平台</li>
						<li><span>.</span>妙描智能详情生成系统</li>
						<li><span>.</span>OCR文字识别系统</li>
						<li><span>.</span>图像自动优化系统</li>
						<li><span>.</span>数百家加盟商实时协同</li>
					</ul>
				</div>
			</div>
			<div class="custCen2">
				<div class="custCen2_title">
					<span>优秀案例展示</span>
				</div>
				<div class="custCen2_img">
					<div class="custCen2_list">
						<div class="custCen2_list_s">个户美妆</div>
						<div class="custCen2_list_i1"></div>
					</div>
					<div class="custCen2_list">
						<div class="custCen2_list_s">母婴玩具</div>
						<div class="custCen2_list_i2"></div>
					</div>
					<div class="custCen2_list">
						<div class="custCen2_list_s">生鲜冷藏</div>
						<div class="custCen2_list_i3"></div>
					</div>
					<div class="custCen2_list">
						<div class="custCen2_list_s">家具家装</div>
						<div class="custCen2_list_i4"></div>
					</div>
				</div>
			</div>
			<div class="custCen3">
				<div class="custCen3_left">
					<div class="custCen3_big">商品营销图制作</div>
					<div class="custCen3_list">
						<ul>
							<li><span class="icon"></span>图像识别技术和图像信息嵌入技术</li>
							<li><span class="icon"></span>图片智能优化处理</li>
							<li><span class="icon"></span>商品详情页生成</li>
							<li><span class="icon"></span>完善图片商品属性</li>

						</ul>
					</div>
				</div>
				<div class="custCen3_right"></div>
			</div>
		</div>
	</div>
</div>




<!--
<div id="CustomModal" class="mainrect fixed_fix">
	<div class="banner ma">
		<div class="title ma">定制服务</div>
		<div class="title_line ma">&nbsp;</div>
	</div>
	<div class="quest_tags">
		<div class="quest_tag tag1" ng-click="Currentpage=1;AutoPageWorking=1;">
			<div class="quest_word">没有找到你要的商品数据？</div>
			<div class="quest_icon">&nbsp;</div>
			<div class="icon_decription">(数据采集)</div>
		</div>
		<div class="quest_tag tag2" ng-click="Currentpage=2;AutoPageWorking=1;">
			<div class="quest_word">商品数据后期管理应用难？</div>
			<div class="quest_icon">&nbsp;</div>
			<div class="icon_decription">(API技术支持)</div>
		</div>
		<div class="quest_tag tag3" ng-click="Currentpage=3;AutoPageWorking=1;">
			<div class="quest_word">营销需要更多视觉效果图？</div>
			<div class="quest_icon">&nbsp;</div>
			<div class="icon_decription">(商品营销图制作)</div>
		</div>
	</div>
	<div class="mainrect fix_mt110">
			<div class="container">
				<div class="tag1_box ma" style="height:{{tagbox_height}}px;padding-top:{{tagbox_paddingtop}}px">
					<div class="intro fl">
						<div class="intro_title">数据采集</div>
						<div class="intro_item"><span class="iconfont">&#xe623;</span>图像编目及信息管理系统</div>
						<div class="intro_item"><span class="iconfont">&#xe623;</span>商品数字化过程标准化</div>
						<div class="intro_item"><span class="iconfont">&#xe623;</span>拍摄上传云图库</div>
						<div class="intro_item"><span class="iconfont">&#xe623;</span>一次拍摄 永久收录</div>
					</div>
					<div class="pic_descript fix_ml200 fl">
						<dl class="fl">
							<dd class="search">搜索无结果</dd>
							<dt class="collect">零猫团队采集数据</dt>
						</dl>
						<div class="pointers fl">&nbsp;</div>
						<dl class="fl">
							<dd class="request">用户发布需求</dd>
							<dt class="result">审核交付</dt>
						</dl>
					</div>
				</div>
			</div>
			<div class="container fix_bg">
				<div class="tag2_box ma" style="height:{{tagbox_height}}px;padding-top:{{tagbox_paddingtop}}px">
					<div class="pic_descript fix_ml50 fl">
						<div class="top_right">详情页</div>
						<div class="bottom_left">广告图</div>
					</div>
					<div class="intro fix_ml450 fl">
						<div class="intro_title">商品营销图制作</div>
						<div class="intro_item"><span class="iconfont">&#xe623;</span>图像识别技术和图像信息嵌入技术</div>
						<div class="intro_item"><span class="iconfont">&#xe623;</span>图片智能优化处理</div>
						<div class="intro_item"><span class="iconfont">&#xe623;</span>商品详情页生成</div>
						<div class="intro_item"><span class="iconfont">&#xe623;</span>完善图片商品属性</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="tag3_box ma" style="height:{{tagbox_height}}px;padding-top:{{tagbox_paddingtop}}px">
					<div class="intro fl">
						<div class="intro_title">商品数据API技术支持</div>
						<div class="intro_item"><span class="iconfont">&#xe623;</span>真正稳定的商品数据云服务</div>
						<div class="intro_item"><span class="iconfont">&#xe623;</span>从云到端的无缝数据连接通道</div>
						<div class="intro_item"><span class="iconfont">&#xe623;</span>高效模块化API服务</div>
						<div class="intro_item"><span class="iconfont">&#xe623;</span>提供大型商务高负载支持</div>
						<div class="intro_item"><span class="iconfont">&#xe623;</span>及时准确的信息维护</div>
					</div>
					<div class="pic_descript fix_ml200 fl">
						&nbsp;
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
-->